<div class="centered-content">
  <div class="modal-box">
    <h1 class="title">
      Edit Task
    </h1>

    <div class="field is-grouped">
      <p class="control is-expanded">
        <input
          class="input has-background-light is-medium"
          type="text"
          #inputTaskName
          placeholder="Enter task name..."/>
      </p>
      <p class="control">
        <a class="button is-primary has-text-white is-medium" (click)="onEditTask(inputTaskName.value)">
          Save
        </a>
      </p>
    </div>

    <button
      class="back-button button has-tooltip-right"
      routerLink="/lists"
      data-tooltip="Click to go back to lists">
      <img src="../../../assets/left-arrow.svg">
    </button>

  </div>
</div>
