
<div class="centered-content">
  <div class="task-manager-container">

    <div class="sidebar has-background-white">
      <h1 class="title has-text-primary">
        Lists
      </h1>

      <div class="list-menu">
        <a href="" class="list-menu-item"
           *ngFor="let list of lists"
           [routerLink]="['/lists',list._id]"
           routerLinkActive="is-active">
          {{list.title}}
        </a>
      </div>
      <button class="button is-primary has-text-white" routerLink="/new-list"> + New List</button>
    </div>

    <div class="task-list-container has-background-light">
      <div *ngIf="tasks">
        <div class="top-bar">
          <h1 class="title has-text-primary">
            Tasks
          </h1>

          <div class="dropdown is-right is-hoverable">
            <div class="dropdown-trigger">
              <button class="button" aria-haspopup="true" aria-controls="dropdown-menu4">
                <span class="icon is-small">
        <i class="fas fa-cog" aria-hidden="true"></i>
      </span>
              </button>
            </div>
            <div class="dropdown-menu" id="dropdown-menu4" role="menu">
              <div class="dropdown-content">
                <a class="dropdown-item" [routerLink]="['/edit-list',selectedListId]">
                  Edit
                </a>
                <a class="dropdown-item has-text-danger" (click)="onDeleteListClick()">
                  Delete
                </a>
              </div>
            </div>
          </div>


        </div>

        <!-- Task Element -->
        <div class="task" *ngFor="let task of tasks"
             [ngClass]="{'complete':task.completed}">
          <div class="task-text" (click)="onTaskClick(task)">
            <p>{{task.title}}</p>
          </div>
          <div class="task-buttons">
            <button class="button" [routerLink]="['/lists',selectedListId,'edit-task',task._id]">
              <span class="icon">
                <i class="fas fa-edit"></i>
              </span>
            </button>

            <button class="button has-text-danger" style="margin-left: 10px" (click)="onDeleteTaskClicked(task._id)">
              <span class="icon">
                <i class="fas fa-trash"></i>
              </span>
            </button>

          </div>
        </div>
        <div *ngIf="tasks.length===0">
          <h1 class="empty-state-text">There is no tasks! Click on Add button to add task.</h1>
        </div>
      </div>

      <div *ngIf="!tasks">
        <h1 class="empty-state-text">Please Select a list.</h1>
      </div>

      <button
        class="circle-add-button button is-primary"
        routerLink="./new-task"
        [disabled]=!listSelected>
        <img src="../../../assets/icons-plus.svg">

      </button>
    </div>

  </div>
</div>
